header{
    background-color: pink;
}
h1{
    text-align: center;
}
header p{
    text-align: center;
}
nav{
    text-align: center;
}
nav a{
    text-decoration: none;
    margin: 20px;
    font-weight: 600;
    line-height: 2;
}
nav a:hover{
    
}